<div th:fragment="createPodstation" xmlns:th="http://www.w3.org/1999/xhtml">
    <a type="button" class="btn add-substation" href="" data-toggle="modal"
       data-target="#add_substation">
        Добавить подстанцию
    </a>
    <div class="modal fade" id="add_substation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить подстанцию</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:method="POST" th:action="@{/mercuryTcp/podstations}" th:object="${podstation}">
                        <div class="form-group">
                            <input class="form-control" type="text" th:field="*{name}" id="name"/>
                            <small id="nameHelp" class="form-text text-muted">Пример: ТП-001</small>
                            <select class="form-control" id="resByResId" name="resId">
                                <option value="1">Северный</option>
                                <option value="2">Южный</option>
                                <option value="3">Восточный</option>
                                <option value="4">Западный</option>
                            </select>
                            <small id="resHelp" class="form-text text-muted">РЭС</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
